/* Function with CSS-wide keywords */
@function --inherited-color(--fallback <color>: blue) {
	--color: inherit;
	result: var(--color, var(--fallback));
}

.parent {
	color: red;
}

.child {
	color: --inherited-color();
	background: --inherited-color(green);
}
