/* Function with local variables */
@function --circle-area(--r) {
	--r2: calc(var(--r) * var(--r));
	result: calc(3.14159 * var(--r2));
}

.circle {
	--radius: 5px;
	width: --circle-area(var(--radius));
	height: --circle-area(10px);
}
